*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 400px;
    height: 400px;
    
    overflow: hidden;
    border: 2px solid black;
}
.container > img{
    width: 400px;
    height: 400px;
    padding: 10px;
    transition: 0.5s ease;
    filter: blur(5px);
}
.container > img:hover{
    filter: blur(0);
}